$maincolor: #130202;
@import "mixin";
$cart: #d71d1d;
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  background: #F382D8;
  height: 40px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      font-weight: 700;
      font-size: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      margin-left: 30px;
    }

    &--link {
      display: flex;
      width: 80%;
      justify-content: space-evenly;

      &__items {
        font-weight: 600;
        font-size: 26px;
        line-height: 54px;
        display: flex;
        align-items: center;
        text-align: center;
        transition: .6s;
        color: red;
        transform: scale(1.1);
        //border-bottom: 1px solid red;


      }

      &__items:hover {
        color: blue;
        border-bottom: 1px solid blue;
      }
    }
  }
}

#car {
  background: #F382D8;
  height: 100vh;

  .cart {
    h1 {
      font-weight: 700;
      font-size: 55px;
      color: #ffffff;
      margin-left: 30px;
      padding-top: 120px;
    }

    &--mno {
      p {

        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #ffffff;
        margin-left: 30px;
        padding: 30px 0;

      }

      &__cab {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 50%;
        margin-top: -40%;
      }

      button {
        @include theme($cart);


      }

      button:hover {
        color: wheat;
        background: black;
      }
    }
  }
}

.hero {
  width: 1000px;
  height: 1px;
  border: 1px solid #ffffff;
  margin-top: -2%;
  margin-left: 90px;
}

#livros {
  background: #F382D8;
  height: 100vh;
  padding-top: 50px;

  .title {
    font-weight: 700;
    font-size: 55px;
    color: #FFFFFF;
    padding: 20px 0;
  }
  h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    margin-left: 50%;
    margin-top: -90px;
  }

  .livros {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.livros--para__block {
  font-size: 20px;
  color: #da1010;
  width: 507px;
  height: 410px;
  background: rgba(135, 92, 170, 0.4);
  border-radius: 30px;
  margin-left: -30%;

  input {
    @include input;
    margin-left: 30px;
  }

}

#img {
  padding-top: 9%;
  background: #F382D8;

  .img {
  display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.hero {
  width: 1000px;
  height: 1px;
  border: 1px solid #ffffff;
  margin-top: -2%;
  margin-left: 90px;
}


#desen{
  background: #F382D8;
  height: 140vh;
  padding-top: 100px;

  .desi{

    span{
      font-weight: 700;
      font-size: 55px;
      text-align: center;
      color: #FFFFFF;
    }
    h1{
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      color: #FFFFFF;
      margin-left: -38%;
      padding: 30px 0;
    }
    &--sit{
        margin-left: 45%;
        margin-top: -30%;
      p{
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #a61717;
        padding: 15px 0;

      }
    }
  }
}

#footer{
  background: rgba(135, 92, 170, 0.81);
  height: 100vh;
  padding-top: 120px;

  .envie{
    h1{
      font-weight: 700;
      font-size: 48px;
      color: #FFFFFF;
      padding: 20px 0;
    }
    span{
      font-weight: 400;
      font-size: 30px;
      color: #FFFFFF;
    }
    input{
      @include input()
    }
    h3{
      font-weight: 400;
      font-size: 30px;
      color: #FFFFFF;
      margin-top: 30px;

    }
    button{
      @include theme
    }
    button{
      margin-top: 40px;
      margin-left: -15px;
    }
    &--mos{

      button{
        @include theme
      }
    }
  }
}
